.cache/
.config/BraveSoftware/
.config/Code/
.config/GIMP/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/libfm/
.config/pcmanfm/
.config/neofetch/
.config/pulse/
.config/systemd/
.config/zsh/plugins/
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.config/pavucontrol.ini
.dotnet/
.local/lib/
.local/share/
.local/src/
.local/state/
.local/bin/openai_api_key.txt
.pki/
.ssh/
.var/
.vscode/
.vscode-cli/
Downloads/
computer/
multimedia/screenshots/
multimedia/extra_bgs/
multimedia/complete-networking-fundamentals*/
multimedia/Hacking_Exposed/
repos/
.gitconfig
.serverauth.*
.wget-hsts