.cache/
.config/BraveSoftware/
.config/Code/
.config/dconf/
.config/GIMP/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/libfm/
.config/libvirt/
.config/pcmanfm/
.config/neofetch/
.config/pulse/
.config/systemd/
.config/zsh/plugins/
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.config/pavucontrol.ini
.dotnet/
.local/lib/
.local/share/applications/
.local/share/CMakeTools/
.local/share/flatpak/
.local/share/gegl-0.4/
.local/share/gvfs-metadata/
.local/share/icons/
.local/share/images/
.local/share/lf/
.local/share/nvim/
.local/share/xorg/
.local/share/mimeapps.list
.local/share/recently-used.xbel
.local/src/dwm/
.local/src/slock/*.o
.local/src/slock/slock
.local/src/dmenu/*.o
.local/src/dmenu/dmenu
.local/src/dmenu/dmenu_run
.local/src/dmenu/dmenu_path
.local/src/dmenu/stest
.local/src/slstatus/*.o
.local/src/slstatus/slstatus
.local/src/slstatus/components/*.o
.local/src/pyenv/
.local/state/
.local/bin/openai_api_key.txt
.pki/
.ssh/
.var/
.vscode/
.vscode-cli/
Downloads/
computer/
multimedia/screenshots/
multimedia/extra_bgs/
multimedia/movies/
repos/
.gitconfig
.serverauth.*
.wget-hsts
.xsel.log
